@charset "utf-8";

@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{ 
  font-family: 'CookieRun-Regular';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 32px;
}

.container{
  width: 350px;
  height: calc(100vh - 200px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.lotto{
  text-align: center;
}

.numbers{
  width: 350px;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.eachnum{
  font-size: 0.75em;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  font-size: 0.5em;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: salmon;
  cursor: pointer;
}

button:active{
  font-size: 0.6em;
  width: 105px;
  height: 42px;
}

.bannerBottom {
  max-width: 1000px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: auto;
}

.leftBanner{
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  margin: 0px 20px 10px 20px;
  overflow: hidden;
}

.centerBanner{
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  margin: 0px 20px 10px 20px;
}

.rightBanner {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  margin: 0px 20px 10px 20px;
  background-position: center;
  overflow: hidden;
}

.leftBanner p,
.centerBanner p, 
.rightBanner p {
  font-size: 16px;
}

.banner1 {
  display: flex;
  background: center / 25% no-repeat url(./camera.jpg);
  height: 60px;
  width: 300px;
  margin-bottom: 10px;
}

.banner2 {
  display: flex;
  background: center / contain no-repeat url(./mesa_logo_bk.svg);
  height: 100px;
  width: 100px;
}

.banner3 {
  display: flex;
  background: center /contain no-repeat url(./mesa\ tv.jpg);
  height: 100px;
  width: 300px;
  
}

@media screen and (max-width: 1000px){
  .bannerBottom {
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 400px;
    margin: auto;
  }

  .centerBanner {
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
    padding: 20px 0;
  }

  .rightBanner {
    justify-content: start;
  }

}